html{
  width:100%;
  height:100%;
  background:#
}

.chat{
  font:12px Trebuchet MS;
  min-width:300px;
  width:300px;
  height:450px;
  margin:auto auto;
  overflow-y: scroll;
}
.submit{
  font:12px Trebuchet MS;
  min-width:300px;
  width:300px;
  margin:auto auto;
  border-top:2px solid #9c9c9c;
}

.url li a{
	display: block;
}
.logo{
  font:12px Trebuchet MS;
  min-width:300px;
  width:300px;
  margin:auto auto;
}

.logo ul li{
  width:100%;
  list-style-type:none;
  margin:5px 0;
  position:relative;
  display:inline-block;


}

.chat ul{
  margin:0;
  padding:0;
  padding-bottom:15px;
  /*margin-bottom:15px;*/
  /*margin-top: 50%;*/
  height: 480px;
}

.chat ul li{
  width:100%;
  list-style-type:none;
  margin:5px 0;
  position:relative;
  display:inline-block;


}

.narImage img{
  float:left;
height:50px;
width:50px;
  box-shadow:0 2px 15px #ffffff;
  border-radius: 10px;
}
.userImage img {
  float:right;
height:50px;
width:50px;
  box-shadow:0 2px 15px #ffffff;
  border-radius: 10px;
}
.chat ul li .narrator{
  font-size: 18px;
  margin-left:70px;
  /*background:blue;*/
  position:relative;
  min-height:25px;
  margin-top:35px;
  padding:10px;
  box-sizing:border-box;
 /* Chat box */
  background:#ffffff;
  word-wrap: break-word;
  border-radius: 10px;

}

.chat ul li .user{
  /*margin-left:90px;*/
  /*background:blue;*/
  color:#ffffff;
  font-size: 18px;
  position:relative;
  min-height:25px;
  margin-top:35px;
  padding:10px;
  box-sizing:border-box;

  /*USer chat box*/
  margin-right:70px;
  margin-left:0;
  background:#3e97f9;
  border-radius: 10px;
}


.chat ul li .narrator:before{
  content:"";
  width:0px;
  height:0px;
  position:absolute;
  left:0;
  top:0;
  /*margin-left:-15px;
  border-top:15px solid #ffffff;*/
  border-left:15px solid transparent;
}


.submit input[type="text"]{
  width:70%;
  margin:0;
  border:0;
  padding:10px;
  background:#e5ecff;
  font:italic 18px Trebuchet MS;
  box-sizing:border-box;
}
.submit button{
  box-sizing:border-box;
  width:30%;padding:10px;font:18px Trebuchet MS; color:white;
  background:#84adfc;
  margin:0;
  border-radius:5px;
}
.title {
  color: #ffffff;
  margin-top: 10px;
  font-size: 26px;
  text-align: center;
  font-weight: bold;
  font-family:Papyrus,Rockwell,Helvetica;
  padding:0px;
  border-bottom: 2px solid #ffffff;
}
.title em{
  font-size:16px;
  font-family:arial;
  color:gray;
  font-style:italic;
}
.story{
  border: 2px groove gray;
}
.link{
  color:blue;
}
.preview{
  color:gray;
}
.welcome{
  font:12px Trebuchet MS;
  min-width:300px;
  width:300px;
  height:470px;
  margin:auto auto;
  background-image:url(/static/welcome.png);
  filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
  -moz-background-size:100% 100%;
  background-size:100% 100%;
}
.imgButton{
  margin:auto auto;
  min-width:300px;
  width:300px;
  height:30px;
}
.imgButton img{
  min-width:300px;
  width:300px;
  height:30px;
}

.container {
  background-image:url(/static/background1.jpeg);
  width:320px;
  height:500px;
  border-radius: 10px;
}
