<!DOCTYPE html>
{% extends "layout.html" %}
{% block body %}
<div class="container">
	<div class="logo">
		<ul>
	    <li class="title"><p>RodBot</p></li>
		</ul>
	</div>
    <div class="chat" id="chat">
  <ul id="chatcontainter">
    <li class="narImage"><img src="{{ url_for('static', filename='small3.jpeg') }}">
      <div class="narrator">
          <div id="typed-strings">
              <p>Hi, Rod here. You're about to hear a story. What would you like to read today? </br>
								eg. Type "Tell me something happy", and I will show you a happy story
							</p>
          </div>

		<span id="typed" ></span>
      </div>
    </li>


  </ul>
 </div>
 <div class="submit">
<!-- <<<<<<< Updated upstream
	<br>
  <input type="text" id="inputBox" name="formVal" placeholder="Tell me something...|." /><button onclick="findArticle2()">Press to see</button>
======= -->
  <input type="text" id="inputBox" name="formVal" placeholder="Tell me something...|." /><button onclick="findArticle2()">Send</button>
</div>
<!-- >>>>>>> Stashed changes -->
</div>

{% endblock %}
