<!DOCTYPE html>


{% extends "layout.html" %}
{% block body %}
<div class="container">
	<div class="row">
		<h1>Welcome to RodBot!</h1>

		<div class="form-group">
			<label for="comment">Chatbox:</label>
			<textarea class="form-control" rows="5" id="comment">Welcome to RodBot >
			{%if data['status'] == 'submitted'%}
		    I found you an article. Here you go: {{data['article_url']}} 
			{% endif %}
			</textarea>
		</div>
		<form method="get" action="submitted">
			<div class="form-group">
			  <label for="chat">Tell RodBot What You Would Like to Read:</label>
			  <input type="text" class="form-control" id="chat">
			  <input type="button" value="Submit" onclick="findArticle()"/>
			</div>
		</form>

	</div>
	
</div>
{% endblock %}